<h1 class="page-header text-center"><%= @stylist.full_name %></h1>

<p class="text-center lead">Stylist at Lluminaire Salon</p>

<div class="row bump-down">
  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">

    <h4><%= @stylist.first_name %>'s info:</h4>

    <form action="/stylists" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="id" value="<%= @stylist.id %>">

      <div class="form-group">
        <input id="first_name" name="first_name" class="form-control capitalize" value="<%= @stylist.first_name %>"placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input id="last_name" name="last_name" class="form-control capitalize" value="<%= @stylist.last_name %>" placeholder="Last Name" required>
      </div>

      <button type="submit" class="btn btn-success stretch">Update</button>
    </form>

    <form action="/stylists" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="id" value="<%= @stylist.id %>">
      <button class="btn btn-danger stretch">Delete</a>
    </form>

  </div>
</div>

<div class="row bump-down">
  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">

    <% if @stylist.clients.empty? %>
      <p class="text-center lead bump-down"><%= @stylist.first_name %> doesn't have any clients yet.</p>
    <% else %>
      <ul class="lookup-results">
        <h4><%= @stylist.first_name %>'s Clients:</h4>

        <% @stylist.clients.each do |client| %>
        <li><a href="/clients/<%= client.id %>"><%= client.full_name %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<a href="/stylists" class="back-link">< Back</a>
